* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.contain {
  height: 100%;
  width: 65%;
  margin: 0 auto;
  /* background: red; */
}

.fixed {
  background: #F5F8FA;
  width: 100%;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid #cbd6e2;
  font-size: 15px;
  top: 0;
  left: 0;
}

.fixed_left {
  float: left;
  height: 100%;
  width: 50%;
  color: #33475b;
}
.english, .sales {
  text-decoration: none;
  color: #33475b;
}
.hfl_item {
  text-align: left;
  margin: 0 7px;
  line-height: 70px;
}

.fa-caret-down {
  color: #7c98b6;
}

#barra{
  color: lightgray;
}

.fixed_right {
  float: right;
  height: 100%;
  width: 50%;
  text-align: right;
}

.hfr_item {
  margin: 0 7px;
  line-height: 70px;
}

.fa-search {
  color: #46bdcf;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.btn-sign{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  background: white;
}

.btn-orange {
  background: #ff7a59;
  color: white;
}

.header {
  height: 200px;
  width: 100%;
  margin-top: 70px;
}

.header_top {
  height: 50%;
  width: 100%;
}

.header_bottom {
  background: blue;
  height: 50%;
  width: 100%;
}

.logo_header {
margin-top: 35px;
}

.ht_item {
  margin: 0 7px;
}
