* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.contain {
  height: 100%;
  width: 65%;
  margin: 0 auto;

}

/* Inizio barra Fixed */
.fixed {
  background: #F5F8FA;
  width: 100%;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid #cbd6e2;
  font-size: 15px;
  top: 0;
  left: 0;
}

.fixed_left {
  float: left;
  height: 100%;
  width: 50%;
  color: #33475b;
}
.english, .sales {
  text-decoration: none;
  color: #33475b;
}
.hfl_item {
  text-align: left;
  margin: 0 7px;
  line-height: 70px;
}

.fa-caret-down {
  color: #7c98b6;
}

#barra{
  color: lightgray;
}

.fixed_right {
  float: right;
  height: 100%;
  width: 50%;
  text-align: right;
}

.hfr_item {
  margin: 0 7px;
  line-height: 70px;
}

.fa-search {
  color: #46bdcf;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.btn-sign{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  background: white;
}

.btn-orange {
  background: #ff7a59;
  color: white;
}
/* Inizio Header */
.header {
  height: 200px;
  width: 100%;
  margin-top: 70px;
}

.header_top {
  height: 50%;
  width: 100%;
}

.ht_left {
  float: left;
  height: 100%;
  width: 30%;
}

.ht_right{
  float: right;
  height: 100%;
  width: 70%;
  text-align: right;
}

.logo_header {
  margin-top: 35px;
}

.ht_item {
  margin: 0 7px;
  line-height: 100px;
}

.header_bottom {
  background: #2D3E50;
  height: 50%;
  width: 100%;
  color: white;
}

.hb_left {
  float: left;
  height: 100%;
  width: 70%;
  font-size: 12px;
}

.hb_left p {
  margin: 30px 0;
}

.hb_right {
  float: right;
  height: 100%;
  width: 30%;
  line-height: 100px;
  text-align: right;
}

.btn-learn{
  border: 1px solid white;
  color: #33475b;
  background: white;
  font-size: 12px;
}

/* Rettangolo azzurro */
.azzurro {
  background: linear-gradient(to right, #09A7BF, rgba(18, 182, 207, 0.55));
  height: 600px;
  width: 100%;
  color: white;
  border-bottom: 4px solid #33475b;
}

.azzu {
  width: 53%
}
.azzu h1 {
  font-size: 45px;
  padding: 80px 0;
}

.azz_p {
  font-size: 15px;
  line-height: 1.6
}

.btn_azz a {
  border: 1px solid white;
  color: #33475b;
  background: white;
  padding: 16px 10px;
  font-size: 15px;
  display: inline-block;
  margin: 65px 0;
}

.azz_p_mini {
  font-size: 9px;
  width: 150px;
}
/* Rettangolo chiaro */
.chiaro {
  background: #F5F8FA;
  width: 100%;
  height: 1500px;
  color: #33475b;
}

.wrapper_top{
  width: 100%;
  height: 500px;
}

.chiaro_alto {
  width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 40px;
}

.chiaro_alto img {
  width: 100%;
}

.chiaro_centrale > h1 {
height: 40px;
width: 600px;
margin: auto;
text-align: center;
}

.chiaro_centrale > p {
  text-align: center;
  line-height: 1.6;
  padding: 60px 20px;
}

.chiaro_left {
  float: left;
  width: 50%;
  height: 250px;
  background: white;
}
.chiaro_img {
  height: 150px;
  width: 200px;
  margin: 0 100px;
}

.btn_chiaro {
  margin: 40px 150px;
}

.chiaro_right {
  background: white;
  height: 250px;
  width: 50%;
  float: right;
}

.c_right > h2 {
  margin: 25px 0;
  font-weight: 600;
}
.c_right > p {
  margin: 25px 0;
  font-size: 13px;
  line-height: 1.5;
}

.c_popular_barra {
  float: right;
  margin: -10px 50px;
  border-top: 1.5px solid #cbd6e2;
  width: 150px;
}

.fa-check-circle {
  color: #FF7A59;
  font-size: 20px;
  margin: 20px 0
}

.c_bottom p {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 0 5px;
}

.square{
  clear: both;
  background: white;
  width: 100%;
  height: 600px;
}

.sq_left {
  float: left;
  width: 300px;
}

.sqleft_img > img {
  height: 200px;
  width: 300px;
}

.sqleft_text {
  height: 150px;
  width: 300px;
  background: white;
}

.sqleft_text > h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.sqleft_text > p {
  font-size: 12px;
  text-align: left;
  margin-top: 15px;
  line-height: 1.8;
  margin: 0 20px;
}
.barra {
  border-top: 1.5px solid #cbd6e2;
  width: 250px;
  margin: 20px 25px;
}

.sqleft_features {
  width: 300px;
  height: 250px;
  font-size: 12px;
}

.sqleft_features > h3 {
  text-align: center;
  font-weight: 600;
}

.sq_bottom {
  width: 300px;
  height: 35px;
}
.sq_bottom i {
  color: #FF7A59;
  font-size: 20px;
  margin: 20px 20px;
}

.sq_bottom p {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  line-height: 1.8;
}

.sq_btn {
  margin: 50px 100px;
}
